<div class="all_questions">
    
  <table>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.question_text %></td>
        <td><a href="users/<%=question.user_id%>"><%=question.user_id%></a></td>
      </tr>
    <% end %>
  </table>
  
</div>