<div class="all_questions">
    
  <table>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td><%= question.question_text %></td>
        <td><%= question.user_id %></td>
      </tr>
    <% end %>
  </table>
  
</div>



<div class="answer_index">
    Showing particular question's answer
</div>