<div class="question_new">
  <div class="jumbotron">
    <div class="container">
      <h3>Ask a question</h3>

      <% unless @error.nil? %>
        <% @error.each do |error| %>
          <%= error %>
            <% end %>
              <% end %>

                <% if logged_in? %>
                  <form method=post action=/questions>
                    <input style="width: 400px; height: 35px;" type=text placeholder="Title" name="question[title]">
                    <br>
                    <br>
                    <textarea style="width: 400px; height: 100px;" type=text placeholder="Description" name="question[question_text]"></textarea>
                    <br>
                    <a href="/questions/new">
                      <button>Ask Question</button>
                    </a>
                  </form>

                  <% else %>
                    <p>You are not logged in. Only members are allowed to post new questions.</p>
                    <% end %>

    </div>
  </div>
</div>
