<div class="login">
  <div class="jumbotron">
    <div class="container">
      <% if @errors %>
        <% if @errors == "email-does-not-exist" %>
          <p>Invalid email or <a href="/signup"> sign up here.</a></p>
          <% else %>
            <p>Invalid password.</p>
            <% end %>
              <% end %>

                <% if logged_in? %>
                  <p>
                    <%=current_user.name%>, you are logged in.</p>
                  <% else %>
                    <h3>Login</h3>
                    <form method=post action=/login>
                      <input style="width: 200px; height: 35px;" type=text placeholder="Email" name="email">
                      <br>
                      <input style="width: 200px; height: 35px;" type=password placeholder="Password" name="password">
                      <br>
                      <br>
                      <a href="/login">
                        <button>Log in</button>
                      </a>
                    </form>
                    <% end %>
    </div>
  </div>
</div>